
{% extends '::base.html.twig' %}

{% block body %}

<h2>#{{ channel }} logs</h2>

<ol>
    {% for date in dates %}
    <li>
        <a href="{{ path('log', {'channel': channel, 'date': date|date('d-m-Y')}) }}">{{date|date('d/m/Y')}}</a>
    </li>
    {% endfor %}
</ol>

{% endblock %}

